.main-grid {
  display: grid;
  grid-template-areas:
    'top top top top top'
    'center center center center right'
    'center center center center right'
    'portfolio portfolio portfolio portfolio portfolio'
    'bottom bottom bottom bottom bottom';
  @media screen and (max-width: 600px) {
    grid-template-areas:
      'top top top'
      'right right right'
      'center center center'
      'portfolio portfolio portfolio'
      'bottom bottom bottom';
  }
}

.header{
  grid-area: top;
}

.right-bar{
  grid-area: right;
}

.main{
  grid-area: center;
}

.portfolio{
  grid-area: portfolio;
}

.footer{
  grid-area: bottom;
}






